################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DirectorySizes/v17
/bin/Debug
/obj/Debug
